@media (max-width: 575.98px) {
    body {
        font-size: 16px;
    }
    .task-header {
        &__text {
            font-size: 20px;
        }
    }
    .form {
        &__input {
            padding: 10px 25px;
            margin-bottom: 35px;
            &::placeholder {
                font-size: 16px;
            }
        }
    }
    .btn-add {
        width: 180px;
        height: 45px;
    }
}
