.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border: 1px solid #34f804;
    border-radius: 20px;
    transition: background-color .5s ease;
    img {
        pointer-events: none;
    }
    &:hover {
        background-color: #585656;
    }
}